<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1"><link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
#a1
{
	margin-left:250px;margin-right: 300px;
}
#a2
{
	padding-bottom: 20px;padding-top:10px;
}
#a3
{
	margin-left: 250px;
}
#a4
{
	margin-top: 30px;
}





</style>
</head>
<body>
<center><h3><b>DCART Logistics PVT. LTD</b>
<br></h3></center><b><br><br>
<div class="container"><p id="a3">
As an Employee at DCART LOGISTICS PVT. LTD. I shall abide by the below mentioned rules:<br/></p>
<ul id="a1">
<li id="a2">

 I will wear a proper uniform at all times i.e a Denim, shoes, Helmet along with the T-shirt/Over

Coat provided to me by DCART.</li>
<li id="a2">
I will not misbehave with any individual involved with DCART as a Merchant, Customer, or

Employee.</li>
<li id="a2">

 I will not be engaged in any illegal or indecent activity that might bring bad repute to the firm.
</li><li id="a2">
 I will Responsibly keep any inventory provided by DCART or their clients (MOBILE, TSHIRT, BAG or

anything as such) and boot cash in good care.
</li><li id="a2">
 DCART will not be responsible for any activity during my non-working hours and is not liable for

scrutiny.
</li><li id="a2">
 I will be an an obedient and sincere employee of DCART and I shall not be part of any unions.
</li><li id="a2">
 DCART reserves the right to cut the incentives of any particular date if I am found dressed

inappropriately.
</li><li id="a2">
 I’m completely responsible for the loss of any valuable item given to me for delivery. The amount

of which can be deducted from my salary. Incase of suspicion, I can be produced in the nearest

police station.
</li><li id="a2">
 If i am found guilty/suspected of conducting any illegal activity, i’m solely responsible for it, all

other employees of DCART shall be treated as innocent

unless they are involved in the activity and I can be deported at the nearest police station.</li>

</ul><center>Upon failing to obey the above rules, the management can relieve me of my duties with

immediate <br/>effect and can claim for loss of inventory and money.</center>

<br>
<br>

<table class="borderless" id="a3"  >

<tr><td>
<b>
Name</td><td>:&ensp;</td></b></td><td><hr id="a4" style="height:2px;background-color:black;width:300px;"></td>
<tr><td>

Signature</td><td>:&ensp;</td></b></td><td><hr id="a4" style="height:2px;background-color:black;width:300px;"></td>

<tr><td>
Date</td><td>:&ensp;</td></b></td><td><hr id="a4" style="height:2px;background-color:black;width:300px;"></td></tr>
</b></div></b></body></html>
